.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CEDF9F;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  min-height: 300px; /* Ensures the container has a minimum height */
}

body {
  background: 
              linear-gradient(135deg, #e9ecef, #dbe2e8); /* Gradient with pattern overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure body takes full height */
  margin: 0;
}
