.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CEDF9F;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  min-height: 300px; /* Ensures the container has a minimum height */
}

button {
  padding: 12px 24px;
  font-size: 1rem;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #218838;
}

body {
  background: url('img.png'),
  linear-gradient(135deg, #e0f7fa, #b2ebf2); /* Gradient with pattern overlay */
  background-repeat: no-repeat;
  /* background-size: 1600px; */
  background-size: cover;
  background-position-y: -65px;
  /* background-position-x: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure body takes full height */
  margin: 0;
}
